<launch>
<group ns="robotviewer">
<node name="server" pkg="robotviewer" type="server" clear_params="true" respawn="false">
  <param name="~jointstates" value="{'hrp':'/robot_state'}"/>
  <param name="~cam_calibs"  value="{
'CAMERA_LU':'$(find robotviewer)/launch/hrp2_14/calibration/wide_left.yaml',
'CAMERA_RU':'$(find robotviewer)/launch/hrp2_14/calibration/wide_right.yaml',
'CAMERA_LL':'$(find robotviewer)/launch/hrp2_14/calibration/narrow_left.yaml',
'CAMERA_RL':'$(find robotviewer)/launch/hrp2_14/calibration/narrow_right.yaml',
}"
  />
  <!-- <param name="~tf_map" value="{'chessboard':'cheesboard'}"/> -->
<remap from="CAMERA_LU/image_raw" to="/wide/left/image_raw"/>
<remap from="CAMERA_LU/camera_info" to="/wide/left/camera_info"/>

</node>
</group>


<group ns="robotviewer/CAMERA_LU">
<node name="image_proc" pkg="image_proc" type="image_proc" clear_params="true" />
</group>
<group ns="robotviewer/CAMERA_RU">
<node name="image_proc" pkg="image_proc" type="image_proc" clear_params="true" />
</group>
<group ns="robotviewer/CAMERA_LL">
<node name="image_proc" pkg="image_proc" type="image_proc" clear_params="true" />
</group>
<group ns="robotviewer/CAMERA_RL">
<node name="image_proc" pkg="image_proc" type="image_proc" clear_params="true" />
</group>

</launch>

