recursive-include src/themes/ *
recursive-include src/RobotViewer *
recursive-include src/RobotViewer__POA *
include Makefile LICENSE.txt CHANGELOG.txt AUTHORS.txt INSTALL.txt
include src/robot-viewer
include src/robot-viewer-cli
include dep.py
recursive-include data/ *
recursive-include docs/ *.rst *.py Makefile make.bat
prune docs/build/


