<launch>
<group ns="robotviewer">
<node name="server" pkg="robotviewer" type="server" clear_params="true">
  <param name="~jointstates" value="{'hrp':'/robot_state'}"/>
  <param name="~cam_map" value="{'CAMERA_LU':'/wide_left/camera',
                                'CAMERA_RU':'/wide_right/camera',
                                'CAMERA_LL':'/narrow_left/camera',
                                'CAMERA_RL':'/narrow_right/camera', }"/>
  <param name="~simu_cameras" value="CAMERA_LU,CAMERA_RU,CAMERA_LL,CAMERA_RL" />
</node>
</group>
</launch>

